@import "vars"

/*==========  Desktop First  ==========*/

@media only screen and (max-width : 1500px)
	.title
		font-size: 50px

	.scroll
		font-size: 14px
	
	.s
		&-home
			.home-content
				img
					height: 40vh

		&-portfolio
			.portfolio-title
				margin: 30px 0
			.portfolio-photos
				img
					width: 210px
					height: 188px

		&-contact
			.contact-data
				&-descr
					font-size: 26px
				&-cont
					font-size: 44px
			

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.title
		font-size: 50px

	.s
		&-portfolio
			.portfolio-photos
				img
					width: 187px
					height: 166px

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.s
		&-about
			height: auto
		// height: 100%
	
	.scroll
		// font-size: 14px
		a
			font-size: 32px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)

	.navbar-nav
		width: auto
		> li
			display: block
			padding: 5px 0

	.navbar-custom
		background-color: rgba(#000,.8)
		height: auto

	section
		padding-top: 70px
	.title
		font-size: 36px
	
	
	.scroll-big
		display: none
	
	.scroll-small
		display: block
		
	.s
		&-home
			.home
				&-content
					img
						width: 300px
						height: 300px
		&-about
			.about
				&-image
					width: 100%
					// margin: 20px auto
		&-portfolio
			.portfolio
				&-title
					margin: 10px 0
		&-contact
			.contact-data-cont
				font-size: 38px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.title
		font-size: 30px
	.s
		&-home
			.home-title
				line-height: 30px
				span
					display: block
					
		&-contact
			.contact-data-cont
				font-size: 30px
			.contact-data-descr
				font-size: 24px

