@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-color: #fff
	color: $accent

.uppercase
	text-transform: uppercase

.img-responsive
	display: block
	max-width: 100%
	height: auto

.preloader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	&-inner
		background-image: url("../img/loader.gif")
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

.navbar-nav
	width: 100%
	text-align: center
	font-size: 24px
	border-bottom: 1px solid $accent
	> li
		float: none
		display: inline-block
		text-transform: uppercase
		padding: 25px 0
		a
			color: #fff
			transition: color .2s ease
			&:hover, &:active, &:focus
				color: $light-dark
				background-color: transparent

.navbar-collapse
	border-top: 1px solid $accent

.navbar-custom
	background-color: rgba(#000,.2)

.navbar-toggle
	border: 1px solid #fff
	transition: all .3s ease
	&:hover
		background-color: $hover

	span
		background-color: #fff 	

section
	position: relative
	min-height: 550px
	background-size: cover
	background-position: center
	padding: 110px 20px 0
	&:focus
		outline: none

.scroll
	margin: 0 auto
	text-align: center
	font-size: 18px
	font-weight: bold
	text-transform: uppercase
	letter-spacing: 2px
	padding-bottom: 25px
	&::before
		content: ''
		clear: both
		display: block
	a
		text-decoration: none
		color: $accent
		display: block
		height: 40px
		width: 40px
		margin: 0 auto
		font-size: 40px
		font-weight: normal
		line-height: 40px
		transition: color .2s ease
		&:hover
			color: $hover
		&.inverse
			color: $dark
			&:hover
				color: $hover

.scroll-small
	display: none
	a
		height: 80px
		width: 80px

.title
	font-size: 60px
	text-transform: uppercase

.s
	&-home
		height: 100vh
		padding-bottom: 110px
		.home
			display: flex
			height: 100%
			width: 100%
			&-content
				margin: auto
				text-align: center
				img
					// width: 500px
					height: 50vh
					max-width: 100%
					min-height: 250px
					margin: 0 auto
				.home-title
					margin-top: 10px
					span
						font-weight: bold
		.scroll
			position: absolute
			bottom: 25px
			padding-bottom: 0
			left: 0
			right: 0
			text-align: center
			
	&-about
		color: $dark
		.about
			margin: 0 5%
			width: 90%
			&-image
				width: 50%
				height: auto
				max-width: 650px
				max-height: 100%
				float: left
				margin-right: 30px
				margin-bottom: 20px
			&-text
				font-family: opensans, sans-serif
				p
					font-size: 20px
				&-name
					font-family: felttip
					font-size: 36px
		.scroll
			a
				color: $dark
				&:hover
					color: $hover

	&-portfolio
		height: auto
		.portfolio
			width: 100%
			height: 100%
			&-title
				width: 100%
				text-align: center
				margin: 50px 0
			&-photos
				width: 90%
				margin: 0 auto
				text-align: center
				display: flex
				flex-flow: row wrap
				justify-content: space-around
				img
					width: 279px
    				height: 250px
					margin: 20px
					transition: transform .3s ease-in
					&:hover
						transform: scale(1.1)

	&-contact
		color: $dark
		height: 100vh
		text-transform: uppercase
		.contact
			display: flex
			position: relative
			width: 100%
			height: 90%
			text-align: center
			// margin: 200px 0
			&-data
				margin: auto
				a
					text-decoration: none
					color: $dark
				&-descr
					font-size: 30px
					font-weight: bold
				&-cont
					font-size: 48px
				&-links
					.fa-stack
						transition: color .3s ease
						&:hover
							color: $hover
		.contact-footer
			padding-bottom: 30px
			width: 100%
			font-size: 18px
			color: $hover
			text-align: center
			&::before
				content: ''
				display: block
				width: 94%
				height: 1px
				background: $hover
				margin: 0 auto 30px


@import "media"
