@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 480px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	background-color: #fff
	color: $accent

.uppercase
	text-transform: uppercase

.img-responsive
	display: block
	max-width: 100%
	height: auto

.preloader
	background: none repeat scroll 0 0 #ffffff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 9999
	&-inner
		background-image: url("../img/loader.gif")
		background-repeat: no-repeat
		background-position: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

.top-nav, .footer
	margin: 0 3%

.top-nav
	display: flex
	justify-content: center
	position: fixed
	top: 0
	left: 0
	width: 94%
	height: 100px
	font-size: 24px
	text-align: center
	border-bottom: 1px solid $accent
	z-index: 10
	
	&::before
		content: ''
		position: fixed
		left: 0
		right: 0
		height: 100px
		background-color: rgba(#000,.1)
		filter: blur(3px)
		z-index: -1
	a
		display: inline-block
		margin: auto 15px
		text-decoration: none
		color: #fff
		transition: color .2s ease
		&:hover
			color: $hover

section
	position: relative
	height: auto
	min-height: 700px
	background-size: cover
	background-position: center
	padding:
		top: 110px

	.scroll
		width: 100%
		text-align: center
		font-size: 18px
		font-weight: bold
		letter-spacing: 2px
		padding-bottom: 25px
		&::before
			content: ''
			clear: both
			display: block
		a
			text-decoration: none
			color: $accent
			display: block
			height: 40px
			width: 40px
			margin: 0 auto
			font-size: 40px
			font-weight: normal
			line-height: 40px
			transition: color .2s ease
			&:hover
				color: $hover
			&.inverse
				color: $dark
				&:hover
					color: $hover

.title
	font-size: 60px

.s
	&-home
		height: 100vh
		padding-bottom: 110px
		.home
			display: flex
			height: 100%
			width: 100%
			&-content
				margin: auto
				text-align: center
				img
					// width: 500px
					height: 50vh
					max-width: 100%
					min-height: 300px
				.home-title
					margin-top: 10px
					span
						font-weight: bold
		.scroll
			position: absolute
			bottom: 25px
			padding-bottom: 0
			
	&-about
		color: $dark
		.about
			margin: 0 5%
			width: 90%
			&-image
				width: 50%
				height: auto
				max-width: 650px
				max-height: 100%
				float: left
				margin-right: 30px
				margin-bottom: 20px
			&-text
				font-family: opensans, sans-serif
				p
					font-size: 20px
				&-name
					font-family: felttip
					font-size: 36px
	&-portfolio
		height: auto
		.portfolio
			width: 100%
			height: 100%
			&-title
				width: 100%
				text-align: center
				margin: 50px 0
			&-photos
				width: 90%
				margin: 0 auto
				text-align: center
				display: flex
				flex-flow: row wrap
				justify-content: space-around
				img
					width: 279px
    				height: 250px
					margin: 20px
					transition: transform ease-in .3s
					&:hover
						transform: scale(1.1)
	&-contact
		color: $dark
		padding-bottom: 110px
		height: 100vh
		.contact
			display: flex
			width: 100%
			height: 100%
			text-align: center
			&-data
				margin: auto
				a
					text-decoration: none
					color: $dark
				&-descr
					font-size: 30px
					font-weight: bold
				&-tel
					font-size: 48px
				&-links
					a
						display: inline-block
						width: 50px
						height: 50px
						border: 1px solid $dark
						border-radius: 50%
						line-height: 50px
						font-size: 30px
						margin: 0 5px
						&:hover
							background-color: $accent
		.contact-footer
			display: flex
			justify-content: center
			position: absolute
			bottom: 0
			width: 94%
			height: 100px
			font-size: 18px
			color: $accent
			border-top: 1px solid $accent
			span
				margin: auto

@import "media"
